.page-layout {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    text-align: center;
    padding: 50px 0 50px;
}

.top-text {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    padding-left: 25px;

}


/* 
.image-container {
height: 100%;
} */