
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2a7cce;
  border-bottom: 3px solid var(--white);
  width: 100vw;
}

.logo img {
  width: 150px;
  height: 150px;
  margin-right: 60px ;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;

}

.title a{
  text-decoration: none;
  color: #EFF1F3;
}

.title h1 {
  font-size: 36px;
}

.title span {
  font-size: 24px;
  font-weight: 300;
}

.links {
  display: flex;
  flex-wrap: wrap;

}

.links ul {
  list-style: none;
}

.links li{
  display: inline-block;
  padding-right: 25px ;
  font-size: 20px;
}

.links li a {
  text-decoration: none;
  color: #EFF1F3;
}

.links li a:hover{
  color: #D34E24;
  opacity: .50;
}


