@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;500;700&display=swap");

:root {
  --black: #141115;
  --white: #fffcf9;
  --primary: #32896d;
}

body {
  color: var(--black);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  opacity: 90;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-zen);
  font-weight: 600;
}



@media only screen and (max-width: 600px) {
  body {
    background-color: rgb(79, 101, 108);
  }
  header {
    justify-content: space-between;
    display: flex;
    align-items: center;
    background: #2a7cce;
    border-bottom: 2px solid var(--white);
  }
  
  .logo img {
    height: 10px;
    width: auto;
  }
  
  .title a{
    text-decoration: none;
    color: #EFF1F3;
  }
  
  .title h1 a {
    font-size: 30px;
  }
  
  
  .links {
    display: flex;
    flex-wrap: wrap;
  }
  
  .links ul {
    list-style: none;
  }
  
  .links li{
    display: inline-block;
    padding-right: 4px;
    font-size: 15px;
  }
  
  .links li a {
    text-decoration: none;
    color: #EFF1F3;
    font-size: 15px;
  }
  
  .links li a:hover{
    color: #D34E24;
    opacity: .50;
  }
  
  .home-container{
    background-color: #DDD8C4;
    margin:10px;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
  .img1, .img2, .img5, .img4, .img6,  img{
    width: 100%;
  } 
.page-layout {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    text-align: center;
    padding: 50px 0 50px;
}

.top-text {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    padding-left: 25px;
}
.low-text{
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis; 
}
.home-container img{
  width: 100%;
  height:auto;
}
}