@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;500;700&display=swap");

:root {
  --black: #141115;
  --white: #fffcf9;
  --primary: #32896d;
  --font-zen: "Zen Kaku Gothic Antique", sans-serif;
}

body {
  color: var(--black);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #d495a2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-zen);
  font-weight: 700;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
